@import "../../../App/App.scss";

.input {
    height: 3.33vw;
    padding: 0 0.5vw;
    width: 10vw;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #757d8a;
    font-size: 0.8vw;
    text-transform: capitalize;
    &:hover {
        border: 1px solid #fff;
        transition: all 0.3s ease-in-out;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
