$ratingGrad: linear-gradient(66.47deg, #bfe33d -15.94%, #00e4bb 62.41%);
$hoverGrad: linear-gradient(180deg, rgba(40, 44, 51, 0), rgba(40, 44, 51, 0.3)),
    radial-gradient(circle at 50% 50%, rgba(40, 44, 51, 0.2), rgba(40, 44, 51, 0.5));

.filmcard {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}
.baner {
    width: 100%;
    position: relative;
    border-radius: 4px;
    border: 1px solid transparent;
}

.imgBaner {
    width: 100%;
    min-height: 100%;
    border-radius: 4px;
}

.hoverBaner {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $hoverGrad;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in;
}

.baner:hover .hoverBaner {
    opacity: 1;
}
.playIcon {
    width: 20%;
    height: auto;
    opacity: 0.5;
    transition: all 0.3s ease-in;
    &:hover {
        width: 25%;
        opacity: 1;
        transition: all 0.3s ease-in;
    }
}

.rating,
.ratingTop {
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    border-radius: 2px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    color: #101319;
}
.rating {
    background: #f2f2f2;
}
.ratingTop {
    background: $ratingGrad;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 8px;
    overflow: hidden;
}
.name {
    border-bottom: 1px solid rgba(242, 242, 242, 0.2);
    font-size: 16px;
    line-height: 1.25;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: none;
    margin-top: -2px;
    max-width: 100%;
    transition: all .3s ease-in-out;
}
.genre {
    margin-top: 2px;
    font-size: 12px;
    line-height: 16px;
    color: #757d8a;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
