@import "../../App/App.scss";
.filmInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
}
.filmName {
    font-size: 3vw;
    line-height: 1.5;
    text-shadow: $color-red 0 0 1vw;
}
.descriptionShort {
    color: #757d8a;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.ratingTop {
    background-image: $color-ratingGrad;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.link {
    border-bottom: 1px solid hsla(217, 8%, 50%, 0.32);
    &:last-child {
        border-bottom: none;
    }
}
.description {
    font-size: 1.666666vw;
    line-height: 1.5;
}
.btnBox {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
