@import "../../../App/App.scss";

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 231px;
    height: 40px;
    font-size: 1vw;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    gap: 15px;
    padding: 15px;
}

.contained {
    background: $color-red;

    &:hover {
        background-color: $color-light-red;
    }
}

.outlined {
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    border: 1px solid $color-light-grey;
    &:hover {
        cursor: pointer;
        border: 1px solid #fff;
        transition: all 0.3s ease-in-out;
    }
}

.translucent {
    background-color: hsla(0,0%,95%,.2);

    &:hover {
        background-color: hsla(0,0%,95%,.34);
    }
}