@import '../../App/App.scss';

.PersonPage {
    //padding: 90px 60px;
    //padding: 0 60px;

    .top {
        width: 100%;
        position: relative;
        z-index: 10;
        overflow: hidden;
        height: 576px;
        background-color: $color-black;

        display: flex;
        gap: 50px;
    }

    .background {
        height: 420px;
        width: 265px;
        position: absolute;
        right: 300px;
        top: 200px;
        margin-left: 0;
        background-position: 100%;
        background-size: cover;
    }

    .left_wrapper {        
        // position: absolute;
        // top: 0;
        width: 620px;
        height: 100%;
        z-index: 3;
        padding-left: 40px;
    }

    .left {
        // position: absolute;
        // top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .description {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        margin-top: 16px;
        margin-bottom: 28px;
    }

    h1, h3 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.17;
    }

    .right {
        display: flex;
        align-items: center;

        .personPhoto {
            height: 420px;
            width: 265px;
        }
    }

    .bottom {
        padding: 0 40px 56px;
    }
}