@import "../../../App/App.scss";

.filter {
    position: relative;
}
.selector {
    min-width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    gap: 15px;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #757d8a;
    text-align: right;
    &:hover {
        cursor: pointer;
        border: 1px solid #fff;
    }
    &:not(:has(option))::after {
        content: "▼";
        color: #fff;
    }
    &::-webkit-scrollbar {
        width: 5px; 
    }
    &::-webkit-scrollbar-track {
        background: $color-dark-grey;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #fff; 
        border-radius: 20px; 
        border: 1px solid $color-dark-grey; 
    }
}
.option {
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #757d8a;
    background: $color-dark-grey;
    &:hover {
        border: 1px solid #fff;
    }
}
.filterBox {
    position: absolute;
    top: 65px;
    left: 0px;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #757d8a;
    background: $color-dark-grey;
}

